// @import 'utils/variables';
// @import 'components/type';
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{ 
    --color-bg: #f5f5f5;
    --color-text: #036845;
    --color-primary: #218326;
    --color-secondary: #E3E68E;
    --color-link:#4e3c43;
    --color-cursor:#031d14;
    --color-footer:#031d14;
} 

.body{
    // background-color: var(--color-bg);
    background-image: url(../assets/images/pave.svg);
    background-repeat: repeat;
    color: var(--color-text);
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    padding: 0;
    margin:100px 0 0;
    cursor: none;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.cursor{
    width: 30px;
    height: 30px;
    border: var(--color-cursor) 2px solid;
    position: absolute;
    border-radius: 5%;
    animation: Anim1 5s infinite;
    pointer-events: none;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3px;
        height: 3px;
        background: var(--color-primary);
    }
}
@keyframes Anim1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes Anim2{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
.expand{
    animation: Anim2 .5s;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.main{
    margin: 25px;
    padding: 0;
}
.end{
    &__big{
        margin-bottom: 72px;
    }
    &__middle{
        margin-bottom:51px;
    }
    
}
.title{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 18px;
    &__big{
        font-size: 51px;
    }
    &__middle{
        font-size: 36px;
    }
    &__small{
        font-size: 25px;
    }
}
.menu{
    &__list{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        max-width: 100%;
    }
    &__el{
        flex-direction: row;
        font-size: 18px;
        margin: 0 10px;
       

        &--link{
            text-decoration: none;
            font-weight: 600;
            color: var(--color-link);
            cursor: none;
            &:hover{
                color: var(--color-primary);
            }
        }
    }
}
.header{
    background-color: var(--color-bg);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.nav{
    margin: 0;
    padding: 10px 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &--hide{
        display: none;
    }
}
.logo{
    &__style{
        & img{
            width: 50px;
            align-self: flex-start;
            cursor: none;
        }
        
    }
}
.vignettes{
    &__el{
        list-style: none;
        margin-bottom: 36px;
    }
}
.gif{
    max-width: 100px;
    display: block;
    margin: auto;
}
.slider{

    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__btn{
        list-style: none;
        cursor: none;
    }
    &__el{
        list-style: none;
        display: none;
        &--show{
            display: block;
        }
    }
    &__img{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    &__controls{
        display: flex;
        flex-direction: row;
        justify-content:center;
        padding: 0;
    }
}
.btn{
    width: 50px;
    padding: 0 40px;
    &:hover{
        animation: BtnScale .5s ;
    }
}
@keyframes BtnScale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.projetlist{
    list-style: none;
}
.arrow{
    width: 32px;
    &:hover{
        animation: ArrowTurn 1s;
    }
    
}

@keyframes ArrowTurn{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.animgif{
    width: 100%;
    display: block;
    margin: auto;
}
.link{
    text-decoration: none;
    color: var(--color-link);
    &:hover{
        color: var(--color-primary);
        cursor: none;
        font-size: 28px;
    }
}

.deco{
    background-image: url(../assets/images/herbe-start.svg);
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    width: 100%;
    color: transparent;
}
.footer{
    background-image: url(../assets/images/herbe.svg);
    background-repeat: repeat;
    padding: 25px 0px 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    color: var(--color-footer);
    &__credits{
        margin: 0;
        padding: 0;
    }
    &__el{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__link{
        text-decoration: none;
        text-decoration: underline;
        color: var(--color-footer);
        &:hover{
            color: var(--color-text);
            cursor: none;
        }
    }
    &__dwt{
        background-color: #E3E68E;
        border: var(--color-text) 5px solid;
        border-radius: 10%;
        width: 70%;
        padding: 10px 30px;
    }
    &__credits{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.dwt{
    width: 40px;
    padding: 0;
    margin: 0;
}
.reseaux{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__el{
        width: 100%;
    }
    & img{
        width: 50%;
        display: block;
        margin: auto;
        &:hover{
            animation: BtnScale 1s;
        }
    }
    & a{
        &:hover{
            cursor: none;
        }
    }
}

@media (min-width: 600px){
    .body{
        font-size: 20px;
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    .main{
        margin: 102px;
        padding: 0;
    }
    .intro{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr, 2fr;
        grid-template-rows: 2fr, 1fr;
        grid-gap: 10px;
        &__one{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &__two{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__three{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &__four{
            grid-column: 1 / 4;
            grid-row: 3 / 4;
        }
    }
    .header{
        background-color: var(--color-bg);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    .vignettes{
        &__el{
            list-style: none;
            margin-bottom: 36px;
        }
    }
    .gif{
        max-width: 100%;
        width: 150px;
        display: block;
        margin: auto;
    }
    .animgif{
        width: 80%;
        display: block;
        margin: auto;
    }
    .slider{
        &__img{
            max-width: 300px;
        }
    }
    .deco{
        font-size: 18px;
    }
}

@media (min-width: 800px){
    .main{
        margin: 144px;
        padding: 0;
    }
}








// .silkscreen-regular {
//     font-family: "Silkscreen", sans-serif;
//     font-weight: 400;
//     font-style: normal;
//   }

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

// .pixelify-sans-<uniquifier> {
//     font-family: "Pixelify Sans", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

// .archivo-<uniquifier> {
//     font-family: "Archivo", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings:
//       "wdth" 100;
//   }
  